{# Affichage du formulaire de création d'un utilisateur #}

{% extends 'gendloc.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/log/style.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/log/jquery.min.js') }}"></script>
    <script src="{{ asset('js/log/jquery.ui.shake.js') }}"></script>
{% endblock %}

{% block body %}

<div id="main">
    </br></br></br></br></br></br></br></br>
    <div id="box">
        {# Récupération du formulaire form à partir du SecurityController #}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
